.chartwrapper {
    display: flex;
}

.chart {
    width: 50%;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .chartwrapper {
        flex-direction: column;
    }

    .chart {
        width: 100%;
    }
}

.chartList {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    min-height: 51px;
    overflow: hidden;
    padding: 8px 14px 8px 26px;
    justify-content: space-between;
    border-bottom: 1px solid #9a9898c1;

    :hover {
        cursor: pointer;
    }
}

.symbolListLabel {
    font-size: 11px;
}

.price {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    word-break: break-all;
    padding: 2px;
}

.app {
    height: calc(100svh - 120px);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.listContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.chartviewContainer {
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-left: 30px;
}

.pricehighlight {
    border: 1px solid white;
    transition: border 0.3s ease-in-out;
}

.barstyle {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 0;
}

.rowStyle {
    position: relative;
    padding: 4px 8px;
    font-size: 11px;
}

.orderbook {
    display: flex;
    gap: 24px;
    background: #242424;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(248, 248, 248, 0.05);
    max-width: 300px;
}