:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(100vw - 17px);
}

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Webkit 기반 브라우저용 (Chrome, Safari, Edge 등) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

body {
  display: block; 
}

header {
  height: 100px;
  position: sticky;
  top: 0;
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

div {
  .container {
    display: flex;
    flex: 1;
    overflow: auto;
  }
}

.projectBtn {
  margin-left: 5px;
}
